@model IEnumerable<PII.Models.Person>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@if (Model == null)
{
    <p>We don't have any Client for now</p>
}
else
{

    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Details</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var person in Model)
            {
                <tr>
                    <td>
                        @person.FistName
                        @person.LastName
                        @person.MiddleName
                    </td>
                    <td>@Html.ActionLink("Details", "Details", "PersonalDataSheet", new { id = person.Id }, null) &raquo;</td>
                </tr>
            }
        </tbody>
    </table>
}