.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
	  -ms-flex-direction: column;
		  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.card-body {
  -webkit-box-flex: 1;
	  -ms-flex: 1 1 auto;
		  flex: 1 1 auto;
  padding: 1.25rem;
  /*background-image: linear-gradient(white, #e9ecef 60%, #e3e7eb);*/
  /*background-color:#f1f2f6;*/
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header + .list-group .list-group-item:first-child {
  border-top: 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img {
  width: 100%;
  border-radius: calc(0.25rem - 1px);
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img-bottom {
  width: 100%;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-deck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
	  -ms-flex-direction: column;
		  flex-direction: column;
}

.card-deck .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-deck {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
			flex-flow: row wrap;
	margin-right: -15px;
	margin-left: -15px;
  }
  .card-deck .card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
		-ms-flex: 1 0 0%;
			flex: 1 0 0%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	margin-right: 15px;
	margin-bottom: 0;
	margin-left: 15px;
  }
}

.card-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
	  -ms-flex-direction: column;
		  flex-direction: column;
}

.card-group > .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-group {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
			flex-flow: row wrap;
  }
  .card-group > .card {
	-webkit-box-flex: 1;
		-ms-flex: 1 0 0%;
			flex: 1 0 0%;
	margin-bottom: 0;
  }
  .card-group > .card + .card {
	margin-left: 0;
	border-left: 0;
  }
  .card-group > .card:first-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
  }
  .card-group > .card:first-child .card-img-top,
  .card-group > .card:first-child .card-header {
	border-top-right-radius: 0;
  }
  .card-group > .card:first-child .card-img-bottom,
  .card-group > .card:first-child .card-footer {
	border-bottom-right-radius: 0;
  }
  .card-group > .card:last-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
  }
  .card-group > .card:last-child .card-img-top,
  .card-group > .card:last-child .card-header {
	border-top-left-radius: 0;
  }
  .card-group > .card:last-child .card-img-bottom,
  .card-group > .card:last-child .card-footer {
	border-bottom-left-radius: 0;
  }
  .card-group > .card:only-child {
	border-radius: 0.25rem;
  }
  .card-group > .card:only-child .card-img-top,
  .card-group > .card:only-child .card-header {
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
  }
  .card-group > .card:only-child .card-img-bottom,
  .card-group > .card:only-child .card-footer {
	border-bottom-right-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
  }
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) {
	border-radius: 0;
  }
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-top,
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-bottom,
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-header,
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-footer {
	border-radius: 0;
  }
}

.card-columns .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-columns {
	-webkit-column-count: 3;
			column-count: 3;
	-webkit-column-gap: 1.25rem;
			column-gap: 1.25rem;
  }
  .card-columns .card {
	display: inline-block;
	width: 100%;
  }
}
.card .card-body .control-label {
	text-align: right;
	padding-top: 6px;
	margin: 0;
	vertical-align: middle;
	color: #9a9a9a;
}

.card label {
	font-size: 1.1rem;
	margin-top: 5px;
	/*margin-bottom: 5px;*/
}

.card input, select, textarea {
	box-shadow: none;
	max-width: 100%;
	margin-top: 2px;
}

.card .radio, .checkbox {
	margin-top: 5px;
	margin-bottom: 5px;
}

.card .panel {
	margin: 2px 15px 15px;
}

.card .panel-heading {
	padding: 7px 15px 3px;
}

.card .panel-title {
	font-size: 12px;
	/*color: #9a9a9a;*/
	text-transform: uppercase;
	font-weight: bold;
}

.card .panel-body {
	padding: 7px 15px 3px;
}


.card .panel .form-control {
	/*text-align: center;*/
	color: #9a9a9a;
	font-weight: normal;
	/*margin-top: 0;*/

  }

.card .panel .btn {
	height: 25px;
	padding: 0 8px;
	height: 27px;
	text-align: center;
	border-color: whitesmoke;
	border-bottom-color: lightgray;
}
.card .address-label {
	width: 100%;
	font-style: italic;
	font-size: .65em;
	text-align: center;
	vertical-align: middle;
}


input[type='radio'], input[type='checkbox'] {
	margin: 0 0 0;
	margin-top: 1px \9;
	line-height: normal;
}


.form-group-sm .form-control {
	height: 27px;
	vertical-align:middle;

}


.form-group-sm select.form-control {
	height: 27px;
}
/*media all*/
.block {
	padding: 6px;
	margin: 10px 0;
	border: 1px solid #cdd9e6;
}

/*media all*/
.float-right {
	float:right!important;
	padding-right: 15px;
}

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

.uitooltip {
	padding: 7px;
	background:greenyellow;
	position: absolute;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
	font-size: 13px;
	white-space: pre-line;
	border-radius: 5px;
}

.side-col {
	margin-top: 15px;
	border: #dfe6e9 .5px solid;
	padding: 10px 10px 25px 10px;
	background: #F6F6F6;
	border-radius: 8px;
	border-top-right-radius: 0;
}

.main-col {
	margin-top: 15px;
	border: #EBF2F5 .5px solid;
	padding: 10px 20px 25px 30px;
	background: #FFFFFF;
	border-radius: 8px;
	border-top-left-radius: 0
}
.img-circle {
	padding: 3px;
	border:#219EE7 1.5px solid;
	box-shadow: 0 0 15px #4AB2EF;
}
.profile {
	text-align: center;
	margin: 10px;
}

.profile .profile-name {
	margin-top: 5px;
	font-size: 14px;
	font-family: Times New Roman;
	font-weight: bold;
	text-transform: uppercase;
	color: #219EE7;
}
.profile .profile-title {
	font-size: 12px;
	font-style: italic;
	line-height: 9px;
}

.pin {
	width: 100%;
}

.pin .pin-icon{
	width: 27px;
	height: 27px;
	border:#D3D3D3 2px solid;
	border-radius: 50%;
	box-shadow: 0 0 10px #C0C0C0;
	transition: .2s;
	display: inline-block;
}

.pin .pin-icon .glyphicon{
	width: 100%;
	font-size: 11px;
	text-align: center;
	vertical-align: middle;
	color: dodgerblue;
}
.pin .pin-icon:hover {
	box-shadow: 0 0 18px #1E90FF;
	border-color: dodgerblue;
}

.pin .pin-icon .pin-title{
	position:absolute;
	text-align: right;
	font-size: 11px;
	text-transform: uppercase;
	line-height: 12px;
	width:calc(100% - 55px);
	color:#219EE7;
	border-bottom: #DCDCDC 1.3px solid;

}

.pin .pin-content {
	width: 95%;
	font-size: .8em;
	padding: 5px 5px 5px 50px;
	text-align: justify;
}

.pin .pin-content span {
	padding-right: 5px;
	font-size: .9em;
}


.modal table {
    font-size: .8em;
}