@model IEnumerable<PII.Models.RelationshipConnection>
<h5>Add new</h5>

<div class="form-group-sm">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-1">
            <label class="control-label">Relationship</label>
            @foreach (var item in Model)
            {
                
                @Html.DropDownList("Relationship", new SelectList(item.RelationshipChart.Relationship))
                
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
            <label class="control-label">Name</label>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search by Last Name">
                <span class="input-group-btn">
                    <button class="btn btn-sm btn-default" style="height: 27px" type="button">Search</button>
                </span>
            </div>
        </div>
    </div>
</div>
<hr />
<h5>Existing Family members</h5>
<div class="row">
    <div class="col-sm-11 col-sm-offset-1">
        @Html.Partial("_FamilyMember", Model)
    </div>
</div>