@model IEnumerable<PII.Models.Person>
@{
    ViewBag.Title = "Find";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Find</h2>

@using (Html.BeginForm("Find", "Person", FormMethod.Get))
{
    <div class="form-group">
        @Html.TextBox("searchText")
        <input type="submit" value="Search" class="btn btn-sm btn-primary" />
    </div>
    <div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var person in Model)
                {
                    <tr>
                        <td>@person.LastName @person.FirstName</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}

